<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/usuarioView.css}">
   <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <header class="autohide navbar" id="header">
    <a href="#" id="image-link"><img src="/images/R2FBlanco.png" alt="Reverse Logo" id="header-img" /></a>

    <nav id="nav-bar">
      <ul>
        <li class="nav-link" id="menu-item"><a th:href="@{/index}" class="menu-link"> Home </a></li>
        <li class="nav-link" id="menu-item"><a th:href="@{/quienesSomos}" class="menu-link"> Quienes somos
          </a>
        </li>
        <li class="nav-link" id="menu-item"><a th:href="@{/rutinas}" class="menu-link"> Rutinas
          </a></li>
        <li class="nav-link" id="menu-item"><a th:href="@{/contacta}" class="menu-link"> Contacta </a>
        </li>




      </ul>
    </nav>
  </header>

  <h1>Lista de Usuarios</h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Fecha de registro</th>
        <th>Valoraciones</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.id}">Id</td>
        <td th:text="${usuario.nombre}">Nombre</td>
        <td th:text="${usuario.fechaRegistro}">Fecha de registro</td>
        <td><a th:href="@{/valoraciones/usuario/{idUsuario}(idUsuario=${usuario.id})}">Valoraciones</a></td>
        <td>
      
          <form th:action="@{/usuario/{id}(id=${usuario.id})}" method="post" style="display: inline-block;">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>