<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/errorView.css}">
</head>

<body>

    <nav>
        <a href="#" class="logo"><img src="/images/R2FBlanco.png" alt="Reverse Logo" id="header-img" /></a>


    </nav>
    <hr style="border: none; border-top: 1px solid white;">

    <div class="login-container">
        <div id="carta">
          <h1>ERROR</h1>

        </div>
        <div class="blob"></div>
    </div>

   
</body>

</html>