<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/quienesSomos">Quienes
                            somos</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/productos">Productos</a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/contacta">Contacta</a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/categoria">Categorias</a>
                    </li>
                </ul>
            </div>


        </div>
    </nav>
    <h1>Pagina de Contacto</h1>
    <div>
        <form action="#" method="post" th:action="@{/contacta/submit}" th:object="${contactaFormInfo}">
            <p>Nombre  <input type="text" id="nombre" th:field="*{nombre}"></p>
            <p>Email  <input type="text" id="email" th:field="*{email}"></p>
            <p>Opciones  <select name="opcion" id="opcion" th:field="*{opcion}">
                <option value="queja">queja</option>
                <option value="consulta">consulta</option>
                <option value="otros">otros</option>
            </select></p>
            <p>Comentarios  <textarea name="comentarios" rows="10" cols="20" th:field="*{texto}"  ></textarea></p>


            <p><label><input type="checkbox" id="confirmacion" value="confirmacion" th:field="*{condiciones}"> Aceptar las
                condiciones del servicio</label></p>

            <input type="submit" value="Enviar" />
        </form>

        <a href="/new">Nueva categoria</a><br />
        
    </div>

</body>

</html>