<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/css/indexView.css}">


</head>

<body>



    <nav>
        <a href="#" class="logo"><img src="/images/R2FBlanco.png" alt="Reverse Logo" id="header-img" /></a>
        <div class="toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu">
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/rutinas}">Rutinas</a>
            <a th:href="@{/usuario}">Cuenta</a>
            <a th:href="@{/gestion/usuarios}">Usuarios</a>
            <a th:href="@{/gestion/rutinas}">RutinasGestion</a>

        </div>
    </nav>
    <hr style="border: none; border-top: 1px solid white;">

    <div id="hero-header">


        <video autoplay loop muted plays-inline id="back-video">
            <source src="images/main_video.mp4" type="video/mp4">

        </video>





    </div>
    <div class="infoContainer">
        <div id="queHacemosTexto" class="textoPresentacion">
            <h2>Entrenamiento personalizado para deportistas</h2>
            <h3>Ofrecemos rutinas personalizadas para deportistas, que se ajustan a tus necesidades y te ayudan a
                mejorar tu
                rendimiento
                Ofrecemos rutinas personalizadas para deportistas, que se ajustan a tus necesidades y te ayudan a
                mejorar tu
                rendimiento</h3>
        </div>
        <div id="queHacemosImagenContainer"><img src="images/queHacemos.jpg" id="queHacemosImagen"
                alt="Imagen de entrenamiento deportivo"></div>

    </div>
    <div class="infoContainer">
        <div id="queHacemosImagenContainer2"><img src="images/queHacemos.jpg" id="queHacemosImagen2"
                alt="Imagen de entrenamiento deportivo"></div>

        <div id="queHacemosTexto2" class="textoPresentacion">
            <h2>Entrenamiento personalizado para deportistas</h2>
            <h3>Ofrecemos rutinas personalizadas para deportistas, que se ajustan a tus necesidades y te ayudan a
                mejorar tu
                rendimiento
                Ofrecemos rutinas personalizadas para deportistas, que se ajustan a tus necesidades y te ayudan a
                mejorar tu
                rendimiento</h3>
        </div>

    </div>
    <div id="sobreMiContainer">
        <div id="sobreMiContainerTexto" class="textoPresentacion">
            <h2>Persona detras</h2>
            <h3>Ofrecemos rutinas personalizadas para deportistas, que se ajustan a tus necesidades y te ayudan a
                mejorar tu
                rendimient</h3>
            <div id="sobreMiImagenContainer1"><img src="images/sobreMi1.jpg" id="sobreMiImagen"></div>
        </div>
        <div id="sobreMiImagenContainer2"><img src="images/sobreMi2.jpg" id="sobreMiImagen2"></div>
    </div>


    <div id="explorarTexto">
        <h2>Explorar Rutinas</h2>
    </div>
    <div id="containerExplorar">
        <img src="images/rutinaExplorar.jpg" class="exlorarRuitinaImagen">
        <img src="images/rutinaExplorar.jpg" class="exlorarRuitinaImagen">
        <img src="images/rutinaExplorar.jpg" class="exlorarRuitinaImagen">
        <img src="images/rutinaExplorar.jpg" class="exlorarRuitinaImagen">
    </div>


    <div id="containerSuscribirte">
        <img src="images/subscribirte.jpg" id="subsImagen">
        <div id="textoSub">
            <h1>Suscribirse</h1>
            <p>Recibe nuestras últimas novedades y promociones.</p>
            <button>Suscríbete</button>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/indexView.js"></script>
</body>

</html>