<!DOCTYPE html>
<html lang="en">

<head th:replace="/fragment.html::cabecera"></head>

<nav>
    <a href="#" class="logo"><img src="/images/R2FBlanco.png" alt="Reverse Logo" id="header-img" /></a>
    <div class="toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu">
        <a th:href="@{/}">Inicio</a>
        <a th:href="@{/rutinas}">Rutinas</a>
        <a th:href="@{/usuario}">Cuenta</a>

    </div>
</nav>
<hr style="border: none; border-top: 1px solid white;">

<body>









    





    <div id="main">
        <!-- JavaScript/jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/indexView.js"></script>


    </div>

    <footer>
    </footer>



</body>

</html>